/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }
	
/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }

body { 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #F05B56;
    
}
.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 50px 0;
  }

header {
    background: #AD1F4E;
    color: #F7FFF7;
    
  }

h1 {
    font-size: 68px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    color: #3D0B37;
    
}

h2 {
    font-size: 40px;
    letter-spacing: 6px;
    margin-bottom: 40px;
    line-height: 1.2;
    color: #3D0B37;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #3D0B37;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
    color: #3D0B37;
}

img{
    width: 80%;
    height:350px;
   
}

